/* || general styles */

html {
  font-family: 'helvetica neue', helvetica, arial, sans-serif;
}

body {
  width: 800px;
  margin: 0 auto;
}

h1, h2 {
  font-family: 'Raleway', sans-serif;
}

/* header styles */

h1 {
  font-size: 4rem;
  text-align: center;
  text-transform: capitalize;
}

a {
  font-size: 2em;
  text-decoration: none;
}

p {
  font-size: .5em;
  text-align: left;
  padding-top: 28px;
  width: 95%;

}

/* section styles */

section article {
  /* width: 33%;
  float: left; */
}

section p {
  margin: 5px 0;
}

section ul {
  margin-top: 0;
}

h2 {
  font-size: 2.5rem;
  /* letter-spacing: -5px; */
  margin-bottom: 10px;
  /* float: left;
  width: 50% */
}

.search-row {
  display: flex;
  padding: 10px;
  justify-content: space-around;
}

.responsive-img {
  order: 1;
  margin: auto;
}

.search-img {
  margin: auto;
}

.content {
  order: -1;
  width: 70%;
}

.articleIcon {
  width: 250px;
}

.card-image {
  height: 100%;
}

.debug {
  border: 2px solid red;
}

#search-term {
   width: 250px;
   height: 20px;
   margin-top: 30px;
}
